$color1: rgba(254, 147, 140, 1);
$color2: rgba(230, 184, 156, 1);
$color3: rgba(234, 210, 172, 1);
$color4: rgba(156, 175, 183, 1);
$color5: rgba(66, 129, 164, 1);

@function percentOf($parentHeight, $childHeight) {
	@return ($parentHeight/$childHeight * 100);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 100%;
	font-weight: normal;
	overflow: hidden;
}

#main {
	background-color: $color2;
	height: 100vh;

	#title {
		background-color: $color4;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 14%;
		font-size: 2rem;
		box-shadow: inset 0 0 10px 0 darken($color4, 30%);

		h1 {
			color: #f3f3f3;
			font-weight: 500;
		}
	};

	#formAndDisplay {
		width: 100%;
		height: calc(86% - 38px);
	};

	#formContainer {
		position: relative;
		padding: 1.5em;
		height: calc(672.36 / 70);

		#inputContainer {
			text-align: center;

			input {
				display: none;
			}

			label {
				padding: .5em 1em;
				background-color: $color5;
				font-weight: 100;
				color: white;
				border-radius: 3px;
				box-shadow: inset 0 0 10px 0 darken($color5, 10%);

				&:hover {
					box-shadow: inset 0 0 20px 0 darken($color5, 20%);
					cursor: pointer;
				}

				&:active {
					box-shadow: inset 0 0 20px 0 darken($color5, 30%);
				}
			}

			button {
				padding: .5em 1em;
				background-color: $color5;
				font-weight: 100;
				color: white;
				border-radius: 3px;
				box-shadow: inset 0 0 10px 0 darken($color5, 10%);
			}
		};

		#noFilesSelected {
			display: none;
		}
	};

	#displayContainer {
		background-color: $color4;
		display: block;
		position: relative;
		margin: auto;
		line-height: 20px;
		width: 96vw;
		padding: 1em;
		font-size: 0.8em;
		height: calc(672.36px - 70px - 2vw);
		box-shadow: inset 0 0 20px 0 darken($color4, 30%);
		overflow: auto;
		white-space: pre;
		resize: none;
	};

	#footer {
		background-color: $color5;
		color: white;
		font-weight: 100;
		display: flex;
		justify-content: space-between;

		p {
			align-self: center;
			margin: .5em;
		}

		small {
			align-self: center;
			margin: .5em;
		}

		a {
			color: white;
			cursor: pointer;

			&:visited {
				color: white;
			}
		}
	};
};